@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f2f5;
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background-color: #111827;
  color: #f3f4f6;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
}
html.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

.custom-scroller::-webkit-scrollbar {
  height: 8px;
}
.custom-scroller::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
  margin: 0 16px;
}
.custom-scroller::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

html.dark .custom-scroller::-webkit-scrollbar-track {
  background: #1f2937;
}
html.dark .custom-scroller::-webkit-scrollbar-thumb {
  background: #475569;
}
html.dark .custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
